<h1>Hello there</h1>
<a href="#" class="link-dark">Shavarma great</a>

<a href="#" class="link-primary">Primary link</a>
<a href="#" class="link-secondary">Secondary link</a>
<a href="#" class="link-success">Success link</a>
<a href="#" class="link-danger">Danger link</a>
<a href="#" class="link-warning">Warning link</a>
<a href="#" class="link-info">Info link</a>
<a href="#" class="link-light">Light link</a>
<a href="#" class="link-dark">Dark link</a>

{% for f in food   %}
<li>{{ f.title }}</li>
    <li>{{ f.href }}</li>
    <li>{{ f.price }}</li>
        
    {% endfor %} 

    